<div id="fileInput">
  <h3>Upload Historical Running Data</h3>
  <input type="file" id="files" multiple>
<!-- </div>
<div> -->
  <button type="button" id="submit" ng-click="getFile()">Upload</button>
</div>
<div >
  <h3>Some Data from a recent run:</h3>
  <h5>Date:&nbsp&nbsp{{displayList[0].Date}}<br>
      Distance:&nbsp&nbsp{{displayList[0].Distance}}<br>
      Duration:&nbsp&nbsp{{displayList[0].Duration}}<br>
  </h5>

</div>

  <div>
    <h3>Add New Runs To The List Here:</h3>
  </div>
  <div>
    <input id="date" type="text" size="30" name="title" ng-model="newRun.Date" placeholder="Date 1/10/16" value="">
    <input id="distance" type="text" size="30" name="store" ng-model="newRun.Distance" placeholder="Distance" value="">
    <input id="duration" type="text" size="30" name="price" ng-model="newRun.Duration" placeholder="Duration" value="">
    <input id="shoe" type="text" size="30" name="price" ng-model="newRun.ShoeMake" placeholder="Shoe Make" value="">
    <input id="temperature" type="text" size="30" name="photo" ng-model="newRun.Temperature" placeholder="Temperature" value="">
    <button type="button" class="btn btn-default add" ng-click="addRun(newRun)" name="button">Add to Run List</button>
  </div>

  <div>
    <h3>Your Current Pace Across All Recorded Runs:</h3>
    <h5 style="color: red">{{runningPace}}</h5>
  </div>

  <div>
    <h3>These are your 5 Fastest Paced Runs:</h3>
    <h5>{{sortedPaceArr[0]}}<br>
        {{sortedPaceArr[1]}}<br>
        {{sortedPaceArr[2]}}<br>
        {{sortedPaceArr[3]}}<br>
        {{sortedPaceArr[4]}}<br>
    </h5>
    </h5>

  </div>
